<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/header :: header}">
</head>
<body>
<nav th:insert="~{/fragments/navigation :: navigation}"></nav>
<div class="container">
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Created at</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="candidate: ${candidates}">
                <td th:text="${candidate.id}"/>
                <td th:text="${candidate.name}"/>
                <td th:text="${candidate.description}"/>
                <td th:text="${candidate.creationDate}"/>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:insert="~{fragments/footer :: footer}"></footer>
</body>
</html>
