<html lang="en" xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Dream Job</a>
        <div class="collapse navbar-collapse">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Main</a>
                <a class="nav-item nav-link" th:href="@{/vacancies}">Vacancies</a>
                <a class="nav-item nav-link" th:href="@{/candidates}">Candidates</a>
                <a class="nav-item nav-link" th:href="@{/vacancies/create}">Create Vacancy</a>
                <a class="nav-item nav-link" th:href="@{/candidates/create}">Create Candidate</a>
            </div>
            <div class="navbar-nav ml-auto">
                <a class="nav-item text-secondary" th:href="@{/users/register}">Sign up</a>
            </div>
        </div>
    </div>
</nav>
